flows.json
[
    {
        "id": "cde1dc52221c065b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8afb96c7b1e3978e",
        "type": "mqtt in",
        "z": "cde1dc52221c065b",
        "name": "",
        "topic": "iotfrontier/waterLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d68a63e1b6e6cf5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "74f20f0b0f9a06d9",
                "9600eba2471e0f5b"
            ]
        ]
    },
    {
        "id": "74f20f0b0f9a06d9",
        "type": "debug",
        "z": "cde1dc52221c065b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "9600eba2471e0f5b",
        "type": "ui_gauge",
        "z": "cde1dc52221c065b",
        "name": "",
        "group": "f22b5b0b1aeb9fe9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "e7d2cad3b86cb7cc",
        "type": "mqtt in",
        "z": "cde1dc52221c065b",
        "name": "",
        "topic": "iotfrontier/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d68a63e1b6e6cf5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "22d442f54d3141e9",
                "f44500c2c72b383a"
            ]
        ]
    },
    {
        "id": "22d442f54d3141e9",
        "type": "debug",
        "z": "cde1dc52221c065b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "f44500c2c72b383a",
        "type": "ui_gauge",
        "z": "cde1dc52221c065b",
        "name": "",
        "group": "c1ea33a230017fd8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "eaba39dc005155c8",
        "type": "mqtt in",
        "z": "cde1dc52221c065b",
        "name": "",
        "topic": "iotfrontier/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d68a63e1b6e6cf5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "9dd11713f61ebdce",
                "b911354e3c6ee5d2"
            ]
        ]
    },
    {
        "id": "9dd11713f61ebdce",
        "type": "debug",
        "z": "cde1dc52221c065b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "b911354e3c6ee5d2",
        "type": "ui_text",
        "z": "cde1dc52221c065b",
        "group": "580fed4b620963e9",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "32",
        "color": "#ffffff",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "d68a63e1b6e6cf5d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f22b5b0b1aeb9fe9",
        "type": "ui_group",
        "name": "Monitoramento: Nivel da Agua",
        "tab": "3beffe67f6d10e26",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1ea33a230017fd8",
        "type": "ui_group",
        "name": "Monitoramento: Nivel do Lixo",
        "tab": "3beffe67f6d10e26",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "580fed4b620963e9",
        "type": "ui_group",
        "name": "Monitoramento: Status do Bueiro",
        "tab": "3beffe67f6d10e26",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3beffe67f6d10e26",
        "type": "ui_tab",
        "name": "Dashboard de Monitoramento",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]